<div class="bottom-section">
    <table class="score-table">
      <tr>
        <th>Equipo</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
        <th>C</th>
        <th>H</th>
        <th>E</th>
        <th>Balls</th>
        <th>Strikes</th>
        <th>Outs</th>
      </tr>
      <tr>
        <td>{{ name1 }}</td>
        <td #C1A>{{ c11 }}</td>
        <td #C2A>{{ c21 }}</td>
        <td #C3A>{{ c31 }}</td>
        <td #C4A>{{ c41 }}</td>
        <td #C5A>{{ c51 }}</td>
        <td #C6A>{{ c61 }}</td>
        <td #C7A>{{ c71 }}</td>
        <td #C8A>{{ c81 }}</td>
        <td #C9A>{{ c91 }}</td>
        <td #C10A>{{ c101 }}</td>
        <td>{{ ca1 }}</td>
        <td>{{ h1 }}</td>
        <td>{{ e1 }}</td>
        <td>{{ balls1 }}</td>
        <td>{{ strikes1 }}</td>
        <td>{{ outs1 }}</td>
      </tr>
      <tr>
        <td>{{ name2 }}</td>
        <td #C1B>{{ c12 }}</td>
        <td #C2B>{{ c22 }}</td>
        <td #C3B>{{ c32 }}</td>
        <td #C4B>{{ c42 }}</td>
        <td #C5B>{{ c52 }}</td>
        <td #C6B>{{ c62 }}</td>
        <td #C7B>{{ c72 }}</td>
        <td #C8B>{{ c82 }}</td>
        <td #C9B>{{ c92 }}</td>
        <td #C10B>{{ c102 }}</td>
        <td>{{ ca2 }}</td>
        <td>{{ h2 }}</td>
        <td>{{ e2 }}</td>
        <td>{{ balls2 }}</td>
        <td>{{ strikes2 }}</td>
        <td>{{ outs2 }}</td>
      </tr>
    </table>
  </div>
  